body {
  background-color: white;
  font-family: "Karla", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.9px;
}
.header-main-container {
  position: relative;
}
video {
  width: 100%;
}
.form-section-container {
  width: 100%;
  height: 700px;
  padding: 4rem;
  padding-top: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #5700ff;
  background-image: linear-gradient(
    to bottom left,
    #a406f496 20%,
    #5704f7 71%,
    #5700ff 100%
  );
}
form {
  display: grid;
}
label {
  font-weight: bolder;
  color: white;
  margin-bottom: 1rem;
}
input {
  margin-bottom: 1rem;
  height: 45px;
  border: none;
  border-radius: 30px;
}
.btn-container {
  background-color: white;
  border-radius: 30px;
  margin-top: 1rem;
}
button {
  width: 100%;
  height: 50px;
  background-color: #5700ffcf;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.9px;
}
.scroll-arrow-container {
  text-align: center !important;
  margin-top: 2rem !important;
}
.scroll-arrow-container polyline {
  animation: mymove 2s infinite !important;
}
@keyframes mymove {
  0% {
    stroke: grey;
  }
  50% {
    stroke: white;
  }
  100% {
    stroke: grey;
  }
}

#movieCard img {
  width: 100%;
}
.movie-card-body {
  padding: 3rem;
}
