body {
  background-color: white;
  font-family: "Karla", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1.125rem;
}

section {
  margin: 5px 0;
}

form {
  display: grid;
}
label{
  font-weight: bolder;
}
input{
  margin-bottom: 1rem;
}
button {
  margin: 1rem;
}