body {
  background-color: white;
  font-family: "Karla", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1.125rem;
  letter-spacing: 0.9px;
}
html {
  scroll-behavior: smooth;
}
.header-main-container {
  position: relative;
}
/* video {
  width: 100%;
} */
.form-section-container {
  width: 100%;
  height: 100vh;
  padding: 1rem 4rem;
  /* padding: 4rem;
  padding-top: 2rem; */
  margin-bottom: 2rem;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #5700ff;
  background-image: linear-gradient(
    to bottom left,
    #a406f496 20%,
    #5704f7 71%,
    #5700ff 100%
  );
}
.heading-top-container {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 3rem; */
  /* color: #ffffffba;
  font-family: "Arial Black";
  text-align: center; */
}
.heading-top-container > h1 {
  /* color: #5700ff; */
  text-shadow: 0 0 10px pink;
  text-align: center;
  font-size: 2.2rem;
  color: #ffffffba;
  font-family: "Arial Black";
  text-align: center;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-bottom: 0;
  animation: breathe 3s infinite;
  -webkit-animation: breathe 3s infinite;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes breathe {
  0% {
    font-size: 2.2rem;
  }
  100% {
    font-size: 2.3rem;
  }
}
.form-section-container p {
  margin: 20px;
}
form {
  display: grid;
}
.wolf-icon-container img {
  opacity: 1;
  transition: opacity 0.2s;
  transition-timing-function: ease-in-out;
}
.wolf-icon-container img:hover{
  cursor: pointer;
  opacity: 0.6;
}
label {
  font-weight: bolder;
  color: white;
  margin-bottom: 1rem;
}
input {
  margin-bottom: 1rem;
  height: 45px;
  border: none;
  border-radius: 10px;
}
.btn-container {
  background-color: white;
  border-radius: 10px;
}
.btn-container, #search-Btn {
  border: 0.1px solid white;
}
button,
#delete-btn {
  width: 100%;
  height: 50px;
  background-color: #6104f8;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
}
#delete-btn {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 45%;
}
.scroll-arrow-container {
  text-align: center !important;
  /* margin-top: 2rem !important; */
}
.scroll-arrow-container polyline {
  animation: mymove 2s infinite !important;
}
@keyframes mymove {
  0% {
    stroke: grey;
  }
  50% {
    stroke: white;
  }
  100% {
    stroke: grey;
  }
}
.h3-container {
  text-align: center;
  margin: 2rem;
  padding: 4rem;
}
h3 {
  color: #374458;
  font-weight: bold;
}
 /* #movieCard {
  width: 300px;
} */
.movie-title-card{
  
    color: #5700ff;
    /* text-shadow: 0 0 10px pink; */
    /* text-align: center; */
    font-weight: bolder;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}
#movieCard img {
  width: 90%;
  margin: auto;
  display: flex;
} 
.movie-card-body {
  padding: 4rem;
  font-size: 1rem;
  /* background-color: #9bccfe21; */
  color: #374458;
}

.fa-star {
  margin: 0 4px;
  font-size: 23px;
}
.results-section-container {
  display: grid;
  background-color: #9bccfe21;
}
.storage-section-container {
  margin: 2rem auto;
  /* padding-bottom: 3rem;
  margin-bottom: 0; */
  background-color: #9bccfe21;
  /* background-color: #9bfed721; */
  display: grid;
}

#storage-container {
  display: inline-flex;
  overflow-x: auto;
  overflow-y: hidden;
}
#storage-container #movieCard {
  position: relative;
  width: fit-content;
  height: 300px;
  box-shadow: 1px 2px 8px #5700ffcf;;
  margin: 7px;
}
/* .storage-section-container #storage-container div:not(:last-child) {
  margin-right: 2px;
} */
.storage-section-container img {
  height: 300px;
  width: auto !important;
}
.storage-section-container img:hover {
  opacity: 0.9;
  cursor: pointer;
}

#empty-storage-btn {
  width: 120px;
  margin-top: 1rem;
}
.footer-container {
  margin-right: 0;
  margin-left: 0;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #5700ff;
  background-image: linear-gradient(
    to bottom right,
    #a406f496 20%,
    #5704f7 71%,
    #5700ff 100%
  );
  color: white;
}
@media only screen and (min-width: 412px) {
  .heading-top-container > h1{
    font-size: 2.5rem;
  }
  @-webkit-keyframes breathe {
    0% {
      font-size: 2.5rem;
    }
    100% {
      font-size: 2.6rem;
    }
  }
  
}
@media only screen and (min-width: 768px) {
  .heading-top-container > h1 {
    font-size: 5rem;
  }
  @-webkit-keyframes breathe {
    0% {
      font-size: 5rem;
    }
    100% {
      font-size: 5.1rem;
    }
  }
  .wolf-icon-container img {
    width: 50% !important;
    margin: auto;
  }
  form {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .results-section-container #movieCard {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .results-section-container .movie-card-body {
    background-color: rgba(14, 13, 13, 0);
  }
  .results-section-container #movieCard img {
    display: block;
    margin: auto;
    width: 50%;
    float: left;
    margin-right: 25px;
    margin-bottom: 2rem;
  }
  .movie-card-body {
    padding: 0;
    padding-bottom: 4rem;
  }
  .footer-container {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  /* .form-section-container {
    position: absolute;
    top: 0;
    background-color: rgba(14, 13, 13, 0);
    background-image: none;
  } */
  /* .scroll-arrow-container {
    margin-top: 0rem !important;
  }
  .header-top-container {
    display: block;
  } */
  /* .heading-top {
    text-align: left;
    margin-left: 2rem;
  } */
  /* .form-section-container p {
    position: relative;
    right: -50%;
  } */
  /* .wolf-icon-container {
    margin: 0rem auto !important;
  } */
  /* .results-section-container {
    margin-top: 1.5rem;
  } */
}
@media only screen and (min-width: 1150px) {
  form {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .results-section-container #movieCard img {
    width: 25%;
  }
  .wolf-icon-container {
    margin: 2rem auto !important;
  }
  /* .form-section-container p {
    position: relative;
    right: -68%;
  } */
  /* .scroll-arrow-container {
    margin-top: 1rem !important;
  } */
}
